{% extends 'base.html.twig' %}

{% block title %}Calendars{% endblock %}

{% block body %}

    <div class="container">
        <h1>Calendars</h1>
        {{ include('calendar/list.html.twig') }}
    </div>

{% endblock %}
