SYMFONY_ENV=prod
* * * * * root /usr/local/bin/php /var/www/html/bin/console app:sunshine >> /var/www/html/var/log/error.log
# An empty line is required at the end of this file for a valid cron file.
