{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}


<div class="container">
    <h1>Dashboard</h1>

    {{ include('calendar/list.html.twig') }}

</div>
{% endblock %}
